.form-check-input {
  /* background-color: #0d6efd ; */
  border-color: #bfbfbf;
}

/* To fix the white screen on load */
body {
  display: none;
  font-family: "Roboto", sans-serif;
}

.table-div {
  display: grid;
  grid-template-columns: 1fr 50px;
  overflow-x: scroll;
}
